/* GENERATED V2 QUALITY SLOTS */

@keyframes sdsScr0Anim { 0%, 100% { transform: translate(0px, 100px) rotate(0deg) scale(2); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-0 { animation: sdsScr0Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr1Anim { 0%, 100% { transform: translate(90px, -42px) rotate(151deg) scale(1.0806046117362795); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-1 { animation: sdsScr1Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr2Anim { 0%, 100% { transform: translate(-76px, -66px) rotate(163deg) scale(0.8322936730942848); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-2 { animation: sdsScr2Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr3Anim { 0%, 100% { transform: translate(-28px, 96px) rotate(25deg) scale(1.9799849932008908); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-3 { animation: sdsScr3Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr4Anim { 0%, 100% { transform: translate(98px, -15px) rotate(-137deg) scale(1.3072872417272239); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-4 { animation: sdsScr4Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr5Anim { 0%, 100% { transform: translate(-55px, -84px) rotate(-173deg) scale(0.5673243709264525); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-5 { animation: sdsScr5Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr6Anim { 0%, 100% { transform: translate(-54px, 84px) rotate(-51deg) scale(1.9203405733007322); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-6 { animation: sdsScr6Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr7Anim { 0%, 100% { transform: translate(99px, 13px) rotate(118deg) scale(1.5078045086866092); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-7 { animation: sdsScr7Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr8Anim { 0%, 100% { transform: translate(-29px, -96px) rotate(178deg) scale(0.2910000676172271); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-8 { animation: sdsScr8Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr9Anim { 0%, 100% { transform: translate(-76px, 66px) rotate(74deg) scale(1.8222605237693539); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-9 { animation: sdsScr9Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr10Anim { 0%, 100% { transform: translate(91px, 40px) rotate(-98deg) scale(1.6781430581529049); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-10 { animation: sdsScr10Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr11Anim { 0%, 100% { transform: translate(-1px, -100px) rotate(-180deg) scale(0.00885139597610157); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-11 { animation: sdsScr11Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr12Anim { 0%, 100% { transform: translate(-91px, 42px) rotate(-97deg) scale(1.6877079174649843); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-12 { animation: sdsScr12Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr13Anim { 0%, 100% { transform: translate(76px, 64px) rotate(75deg) scale(1.8148935629003924); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-13 { animation: sdsScr13Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr14Anim { 0%, 100% { transform: translate(27px, -97px) rotate(178deg) scale(0.2734744364156672); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-14 { animation: sdsScr14Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr15Anim { 0%, 100% { transform: translate(-99px, 15px) rotate(117deg) scale(1.5193758257176426); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-15 { animation: sdsScr15Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr16Anim { 0%, 100% { transform: translate(55px, 83px) rotate(-52deg) scale(1.9153189606467693); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-16 { animation: sdsScr16Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr17Anim { 0%, 100% { transform: translate(52px, -85px) rotate(-174deg) scale(0.5503266761031939); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-17 { animation: sdsScr17Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr18Anim { 0%, 100% { transform: translate(-100px, -13px) rotate(-136deg) scale(1.3206334164881603); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-18 { animation: sdsScr18Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr19Anim { 0%, 100% { transform: translate(29px, 95px) rotate(26deg) scale(1.9774092363733384); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-19 { animation: sdsScr19Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr20Anim { 0%, 100% { transform: translate(74px, -67px) rotate(164deg) scale(0.8161641236267839); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-20 { animation: sdsScr20Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr21Anim { 0%, 100% { transform: translate(-92px, -40px) rotate(150deg) scale(1.0954585204485368); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-21 { animation: sdsScr21Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr22Anim { 0%, 100% { transform: translate(1px, 99px) rotate(-2deg) scale(1.9999216527892743); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-22 { animation: sdsScr22Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr23Anim { 0%, 100% { transform: translate(90px, -44px) rotate(-153deg) scale(1.065666040666795); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-23 { animation: sdsScr23Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr24Anim { 0%, 100% { transform: translate(-77px, -65px) rotate(-164deg) scale(0.848358014673994); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-24 { animation: sdsScr24Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr25Anim { 0%, 100% { transform: translate(-27px, 96px) rotate(-24deg) scale(1.9824056237269472); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-25 { animation: sdsScr25Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr26Anim { 0%, 100% { transform: translate(98px, -17px) rotate(137deg) scale(1.2938386446572807); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-26 { animation: sdsScr26Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr27Anim { 0%, 100% { transform: translate(-56px, -83px) rotate(172deg) scale(0.5842776174676724); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-27 { animation: sdsScr27Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr28Anim { 0%, 100% { transform: translate(-53px, 85px) rotate(48deg) scale(1.9252117326271332); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-28 { animation: sdsScr28Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr29Anim { 0%, 100% { transform: translate(99px, 11px) rotate(-120deg) scale(1.4961150593780008); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-29 { animation: sdsScr29Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr30Anim { 0%, 100% { transform: translate(-31px, -96px) rotate(-178deg) scale(0.3085028997751681); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-30 { animation: sdsScr30Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr31Anim { 0%, 100% { transform: translate(-74px, 67px) rotate(-73deg) scale(1.8294847156090626); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-31 { animation: sdsScr31Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr32Anim { 0%, 100% { transform: translate(92px, 39px) rotate(99deg) scale(1.6684467210130205); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-32 { animation: sdsScr32Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr33Anim { 0%, 100% { transform: translate(-3px, -100px) rotate(179deg) scale(0.026553494446118958); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-33 { animation: sdsScr33Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr34Anim { 0%, 100% { transform: translate(-90px, 44px) rotate(95deg) scale(1.6971405495692105); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-34 { animation: sdsScr34Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr35Anim { 0%, 100% { transform: translate(77px, 63px) rotate(-78deg) scale(1.8073844101830134); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-35 { animation: sdsScr35Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr36Anim { 0%, 100% { transform: translate(25px, -97px) rotate(-179deg) scale(0.25592737925480935); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-36 { animation: sdsScr36Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr37Anim { 0%, 100% { transform: translate(-99px, 17px) rotate(-116deg) scale(1.5308281038906868); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-37 { animation: sdsScr37Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr38Anim { 0%, 100% { transform: translate(56px, 82px) rotate(53deg) scale(1.9101472880945898); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-38 { animation: sdsScr38Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr39Anim { 0%, 100% { transform: translate(51px, -86px) rotate(173deg) scale(0.5332858647198745); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-39 { animation: sdsScr39Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr40Anim { 0%, 100% { transform: translate(-100px, -12px) rotate(134deg) scale(1.3338761233045238); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-40 { animation: sdsScr40Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr41Anim { 0%, 100% { transform: translate(31px, 94px) rotate(-29deg) scale(1.9746785550476529); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-41 { animation: sdsScr41Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr42Anim { 0%, 100% { transform: translate(73px, -69px) rotate(-165deg) scale(0.7999706299767025); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-42 { animation: sdsScr42Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr43Anim { 0%, 100% { transform: translate(-93px, -39px) rotate(-150deg) scale(1.1102266030412513); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-43 { animation: sdsScr43Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr44Anim { 0%, 100% { transform: translate(3px, 99px) rotate(3deg) scale(1.9996866172953824); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-44 { animation: sdsScr44Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr45Anim { 0%, 100% { transform: translate(89px, -45px) rotate(153deg) scale(1.0506439776354595); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-45 { animation: sdsScr45Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr46Anim { 0%, 100% { transform: translate(-78px, -63px) rotate(162deg) scale(0.8643558897695566); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-46 { animation: sdsScr46Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr47Anim { 0%, 100% { transform: translate(-25px, 96px) rotate(22deg) scale(1.9846709383018575); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-47 { animation: sdsScr47Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr48Anim { 0%, 100% { transform: translate(98px, -19px) rotate(-139deg) scale(1.2802886789383994); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-48 { animation: sdsScr48Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }

@keyframes sdsScr49Anim { 0%, 100% { transform: translate(-58px, -82px) rotate(-172deg) scale(0.6011850874872742); opacity: 0; filter: blur(5px); } 30%, 70% { transform: translate(0, 0) rotate(0deg) scale(1); opacity: 1; filter: blur(0); } }
.sds-scr-scr-v2-49 { animation: sdsScr49Anim 3s infinite cubic-bezier(0.34, 1.56, 0.64, 1); }
