/* GENERATED V2 QUALITY SLOTS */

.sds-wc-wc-v2-0 { transition: all 0.3s ease; }
.sds-wc-wc-v2-0:hover { transform: translateY(0px) scale(1.1); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-1 { transition: all 0.3s ease; }
.sds-wc-wc-v2-1:hover { transform: translateY(-10px) scale(1.0540302305868139); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-2 { transition: all 0.3s ease; }
.sds-wc-wc-v2-2:hover { transform: translateY(7px) scale(1.0416146836547142); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-3 { transition: all 0.3s ease; }
.sds-wc-wc-v2-3:hover { transform: translateY(2px) scale(1.0989992496600445); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-4 { transition: all 0.3s ease; }
.sds-wc-wc-v2-4:hover { transform: translateY(-10px) scale(1.065364362086361); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-5 { transition: all 0.3s ease; }
.sds-wc-wc-v2-5:hover { transform: translateY(5px) scale(1.0283662185463227); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-6 { transition: all 0.3s ease; }
.sds-wc-wc-v2-6:hover { transform: translateY(5px) scale(1.0960170286650366); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-7 { transition: all 0.3s ease; }
.sds-wc-wc-v2-7:hover { transform: translateY(-10px) scale(1.0753902254343304); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-8 { transition: all 0.3s ease; }
.sds-wc-wc-v2-8:hover { transform: translateY(2px) scale(1.0145500033808614); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-9 { transition: all 0.3s ease; }
.sds-wc-wc-v2-9:hover { transform: translateY(7px) scale(1.0911130261884676); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-10 { transition: all 0.3s ease; }
.sds-wc-wc-v2-10:hover { transform: translateY(-10px) scale(1.0839071529076452); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-11 { transition: all 0.3s ease; }
.sds-wc-wc-v2-11:hover { transform: translateY(0px) scale(1.000442569798805); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-12 { transition: all 0.3s ease; }
.sds-wc-wc-v2-12:hover { transform: translateY(9px) scale(1.0843853958732492); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-13 { transition: all 0.3s ease; }
.sds-wc-wc-v2-13:hover { transform: translateY(-8px) scale(1.0907446781450196); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-14 { transition: all 0.3s ease; }
.sds-wc-wc-v2-14:hover { transform: translateY(-3px) scale(1.0136737218207834); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-15 { transition: all 0.3s ease; }
.sds-wc-wc-v2-15:hover { transform: translateY(9px) scale(1.0759687912858822); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-16 { transition: all 0.3s ease; }
.sds-wc-wc-v2-16:hover { transform: translateY(-6px) scale(1.0957659480323385); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-17 { transition: all 0.3s ease; }
.sds-wc-wc-v2-17:hover { transform: translateY(-6px) scale(1.0275163338051596); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-18 { transition: all 0.3s ease; }
.sds-wc-wc-v2-18:hover { transform: translateY(9px) scale(1.066031670824408); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-19 { transition: all 0.3s ease; }
.sds-wc-wc-v2-19:hover { transform: translateY(-3px) scale(1.0988704618186669); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-20 { transition: all 0.3s ease; }
.sds-wc-wc-v2-20:hover { transform: translateY(-8px) scale(1.0408082061813393); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-21 { transition: all 0.3s ease; }
.sds-wc-wc-v2-21:hover { transform: translateY(9px) scale(1.0547729260224268); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-22 { transition: all 0.3s ease; }
.sds-wc-wc-v2-22:hover { transform: translateY(-1px) scale(1.0999960826394637); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-23 { transition: all 0.3s ease; }
.sds-wc-wc-v2-23:hover { transform: translateY(-10px) scale(1.0532833020333396); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-24 { transition: all 0.3s ease; }
.sds-wc-wc-v2-24:hover { transform: translateY(7px) scale(1.0424179007336998); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-25 { transition: all 0.3s ease; }
.sds-wc-wc-v2-25:hover { transform: translateY(2px) scale(1.0991202811863474); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-26 { transition: all 0.3s ease; }
.sds-wc-wc-v2-26:hover { transform: translateY(-10px) scale(1.064691932232864); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-27 { transition: all 0.3s ease; }
.sds-wc-wc-v2-27:hover { transform: translateY(5px) scale(1.0292138808733837); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-28 { transition: all 0.3s ease; }
.sds-wc-wc-v2-28:hover { transform: translateY(5px) scale(1.0962605866313566); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-29 { transition: all 0.3s ease; }
.sds-wc-wc-v2-29:hover { transform: translateY(-10px) scale(1.0748057529689001); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-30 { transition: all 0.3s ease; }
.sds-wc-wc-v2-30:hover { transform: translateY(3px) scale(1.0154251449887584); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-31 { transition: all 0.3s ease; }
.sds-wc-wc-v2-31:hover { transform: translateY(7px) scale(1.0914742357804532); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-32 { transition: all 0.3s ease; }
.sds-wc-wc-v2-32:hover { transform: translateY(-10px) scale(1.083422336050651); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-33 { transition: all 0.3s ease; }
.sds-wc-wc-v2-33:hover { transform: translateY(0px) scale(1.0013276747223059); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-34 { transition: all 0.3s ease; }
.sds-wc-wc-v2-34:hover { transform: translateY(8px) scale(1.0848570274784606); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-35 { transition: all 0.3s ease; }
.sds-wc-wc-v2-35:hover { transform: translateY(-8px) scale(1.0903692205091506); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-36 { transition: all 0.3s ease; }
.sds-wc-wc-v2-36:hover { transform: translateY(-3px) scale(1.0127963689627404); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-37 { transition: all 0.3s ease; }
.sds-wc-wc-v2-37:hover { transform: translateY(9px) scale(1.0765414051945343); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-38 { transition: all 0.3s ease; }
.sds-wc-wc-v2-38:hover { transform: translateY(-6px) scale(1.0955073644047295); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-39 { transition: all 0.3s ease; }
.sds-wc-wc-v2-39:hover { transform: translateY(-6px) scale(1.0266642932359937); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-40 { transition: all 0.3s ease; }
.sds-wc-wc-v2-40:hover { transform: translateY(9px) scale(1.0666938061652262); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-41 { transition: all 0.3s ease; }
.sds-wc-wc-v2-41:hover { transform: translateY(-4px) scale(1.0987339277523827); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-42 { transition: all 0.3s ease; }
.sds-wc-wc-v2-42:hover { transform: translateY(-8px) scale(1.0399985314988351); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-43 { transition: all 0.3s ease; }
.sds-wc-wc-v2-43:hover { transform: translateY(9px) scale(1.0555113301520627); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-44 { transition: all 0.3s ease; }
.sds-wc-wc-v2-44:hover { transform: translateY(-1px) scale(1.0999843308647692); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-45 { transition: all 0.3s ease; }
.sds-wc-wc-v2-45:hover { transform: translateY(-9px) scale(1.052532198881773); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-46 { transition: all 0.3s ease; }
.sds-wc-wc-v2-46:hover { transform: translateY(7px) scale(1.0432177944884777); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-47 { transition: all 0.3s ease; }
.sds-wc-wc-v2-47:hover { transform: translateY(2px) scale(1.099233546915093); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-48 { transition: all 0.3s ease; }
.sds-wc-wc-v2-48:hover { transform: translateY(-10px) scale(1.06401443394692); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }

.sds-wc-wc-v2-49 { transition: all 0.3s ease; }
.sds-wc-wc-v2-49:hover { transform: translateY(5px) scale(1.0300592543743636); background: var(--bg2); color: var(--accent); border-style: solid; border-color: var(--accent); cursor: pointer; }
